@{
    ViewData["Title"] = "AtoresGet";
}
@model IEnumerable<Ator> 
<div class="text-center">
    <h1>Atores cadastrados</h1>
</div>
    <div class="row">
        <a class="btn btn-dark" href="#">Cadastrar</a>
        <input class="form-control col-md-3 offset-7" type="text" name="nome" id="nome" placeholder="Buscar">
    </div>
<div class="text-center mt-3">
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Foto de Perfil</th>
                <th scope="col">Nome</th>
                <th scope="col">Biografia</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
                @{
                    foreach (var ator in Model)
                    {   <tr>
                        <td><img src="@ator.FotoPerfilURL" alt="@ator.Nome" width="110"></td>
                        <td>@ator.Nome</td>
                        <td>@ator.Bio</td>
                        <td class="d-flex flex-column col-md-6 offset-3">
                            <a class="btn btn-dark" asp-action="AtorAtualizar" asp-route-id="@ator.Id"><i class="fa-solid fa-pen-to-square"></i> Editar</a>
                            <a class="btn btn-dark mt-1" asp-action="AtorDetalhes" asp-route-id="@ator.Id"><i class="fa-solid fa-eye"></i> Ver</a>
                            <a class="btn btn-danger mt-1" asp-action="AtorDeletar" asp-route-id="@ator.Id"><i class="fa-solid fa-trash"></i> Excluir</a>
                        </td>
                        </tr>
                    }
                }
        </tbody>
    </table>
</div>