@{
    ViewData["Title"] = "AtoresGet";
}
@model IEnumerable<Cinema> 
<div class="text-center">
    <h1>Cinemas cadastrados</h1>
</div>
    <div class="row">
        <a class="btn btn-dark" asp-action="CinemaCriar">Cadastrar</a>
        <input class="form-control col-md-3 offset-7" type="text" name="nome" id="nome" placeholder="Buscar">
    </div>
<div class="text-center mt-3">
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Logo</th>
                <th scope="col">Nome</th>
                <th scope="col">Descrição</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
                @{
                    foreach (var cinema in Model)
                    {   <tr>
                        <td><img src="@cinema.LogoURL" alt="@cinema.Nome" width="110"></td>
                        <td>@cinema.Nome</td>
                        <td>@cinema.Descricao</td>
                        <td class="d-flex flex-column col-md-6 offset-3">
                            <a class="btn btn-dark" asp-action="CinemaAtualizar" asp-route-id="@cinema.Id"><i class="fa-solid fa-pen-to-square"></i> Editar</a>
                            <a class="btn btn-dark mt-1" asp-action="CinemaDetalhes" asp-route-id="@cinema.Id"><i class="fa-solid fa-eye"></i> Ver</a>
                            <a class="btn btn-danger mt-1" asp-action="CinemaDeletar" asp-route-id="@cinema.Id"><i class="fa-solid fa-trash"></i> Excluir</a>
                        </td>
                        </tr>
                    }
                }
        </tbody>
    </table>
</div>